html, body {
    scroll-behavior: smooth;
}

body#assignment-2 { // I need to clean this up
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $font--family-lexend;
    line-height: 1.75;
    margin: 0;

    & > .grid-container {
        display: grid;
        grid-template-columns: auto 3fr 0.75fr;
        grid-template-areas: "left-pane content content content right-pane";
        margin-top: 0;
        margin-bottom: auto;
        width: 100%;
        
        
        .content .grid-padding,
        .right-pane .grid-padding {
            padding: 3em;
        }
        
        .content {
            grid-area: "content";
            display: flex;
            justify-content: center;
            border-left: 1px solid rgb(228, 228, 228);
            border-right: 1px solid rgb(228, 228, 228);

            section {
                margin: 3.5em 0;
            }

            section > * {
                margin-bottom: 1.25em;
            }

        
            .section-title a {
                text-decoration: none;
                color: black;
                opacity: 0.3;
                margin-left: 0.25em;
                font-weight: 400;
                transition: all 0.2s ease-out;
        
                &:hover {
                    opacity: 1;
                }
            }
        }


        .left-pane {
            // Great article:
            // https://ishadeed.com/article/position-sticky-css-grid/
            grid-area: "left-pane";
            align-self: start;
            position: sticky;
            top: 0;

            ul, li {
                margin: 0;
                padding: 0;
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                li {
                    margin: 2em;
                    font-size: 1.25em;

                    i {
                        color: black;
                        opacity: 0.7;
                    }
                }
            }
        }

        .right-pane {
            grid-area: "right-pane";
            align-self: start;
            position: sticky;
            top: 0;

            aside {
                display: flex;
                flex-direction: column;

                & > * {
                    margin: 0.5em 0;
                }
            }
        }

        a.external-link {
            color: $assignment2--brand-color;
            text-decoration: underline;
        }

        ul.link-list {
            list-style-type: decimal;
            margin: auto;
            padding-left: 1em;
        }
    }

    p, pre {
        max-width: 80ch;
    }

    p {
        // If you set opacity, then the child elements can only have the 
        // maximum opacity set by the parent, hence why I'm using rgba() here
        color: rgba(0, 0, 0, 0.8); 
    }

    pre {
        border-radius: 0.25em;
    }

    h1, strong {
        font-weight: 700;
    }

    main, section {
        margin-bottom: 1.5em;
    }

    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }

    h1 {
        line-height: 1;
    }

    h1, h2 {
        margin-bottom: 0.5em;
    }

    h3 {
        text-transform: uppercase;
        font-size: 1em;
        color: $assignment2--brand-color;
    }

    ul:not(.link-list) {
        list-style-type: none;
    }
}