html, body, main {
    height: 100%;
}

body {
    line-height: 1.5;
}

h1 {
    font-family: $font--family-lexend;
    font-weight: $font--weight-medium;
    text-align: center;
    padding: 0.5em;

    @media (max-width: $breakpoint--mobile) {
        text-align: left;
    }
}

a {
    text-decoration: none;
    color: black;
    font-family: $font--family-lexend;
}
