.card {
    border: 1px solid rgb(230, 230, 230);
    border-top: 3px solid blue;
    border-radius: 0.25em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    white-space: nowrap;
    text-align: center;
    padding: 3em;

    a {
        opacity: 0.8;
        text-decoration: underline;
    }
}