.example {
    &__class__selector {
        color: blue !important;
    }

    &__class__selector.example__class__selector-multiple {
        color: tan !important;
    }

    &__form {
        background-color: rgb(239, 229, 215);
    }

    &__flexbox {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 100%;
        border: 1px solid red;

        .flexbox__column {
            margin: 1em;
            border: 1px solid blue;
        }

        @media (max-width: $breakpoint--desktop) {
            flex-direction: column;
        }
    }

    &__query {
        & > p.query__text { // specificity
            color: blue;

            @media (min-width: 1000px) {
                color: red;
            }
        }

        #multiple-selectors-example >  p.query__text {
            color: green;

            @media (min-width: $breakpoint--desktop) {
                color: rgb(157, 157, 44);
            }
        }
    }
}

#example__id__selector {
    color: purple;
}

p.example__element__selector {
    color: red !important;
}