.star{
    position:relative;
    margin:1em auto;
    width:1em;
    font-size:12em;
  }
  
  .star:before{
    content:"";
    position:absolute;
    background:red;
    width:1em;
    height:1.15em;
    transform:rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
  }
  
  .star:after{
    content:"";
    position:absolute;
    background:red;
    width:1em;
    height:1.15em;
    transform:rotate(45deg) skewX(22.5deg) skewY(22.5deg);
  }