@charset "UTF-8";
/*
 * Fonts
 */
/*
 * Font weights
 */
/*
 * Breakpoints
 */
/*
 * Shadows
 */
/*
 * Assignment 2 specific
 */
/*
 * Index-specific
 */
img {
  height: auto;
  max-width: 100%;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

ul {
  padding: 0;
}

.card {
  border: 1px solid #e6e6e6;
  border-top: 3px solid blue;
  border-radius: 0.25em;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  white-space: nowrap;
  text-align: center;
  padding: 3em;
}

.star {
  position: relative;
  margin: 1em auto;
  width: 1em;
  font-size: 12em;
}

.star:before {
  content: "";
  position: absolute;
  background: red;
  width: 1em;
  height: 1.15em;
  transform: rotate(-45deg) skewX(22.5deg) skewY(22.5deg);
}

.star:after {
  content: "";
  position: absolute;
  background: red;
  width: 1em;
  height: 1.15em;
  transform: rotate(45deg) skewX(22.5deg) skewY(22.5deg);
}

.container--flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container--cards {
  display: flex;
  overflow-x: auto;
  max-width: 100%;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.container--cards li {
  margin: calc(1.5em + 0.75vw);
}
@media (max-width: 375px) {
  .container--cards li:first-child {
    margin-left: 1em;
  }
}
.container--cards ::-webkit-scrollbar {
  width: 10px;
}
.container--cards ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.container--cards ::-webkit-scrollbar-thumb {
  background: #888;
}
.container--cards ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body#index main {
  height: 100%;
}
body#index body {
  line-height: 1.5;
}
body#index .header {
  text-align: center;
  background-color: #191919;
  color: white;
  width: 100%;
  padding: 5em;
  margin-bottom: 3em;
}
body#index .header h1 {
  font-size: clamp(2em, 2.2vw, 2.3em);
  font-family: "Lexend", sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}
body#index .header .fa--link {
  display: flex;
  font-size: clamp(1em, 1.15vw, 1.3em);
  color: white;
  opacity: 1;
  text-decoration: none;
}
body#index .header .fa--link i {
  margin-right: 1rem;
}
body#index .header .fa--link span {
  text-decoration: underline;
}
@media (max-width: 375px) {
  body#index .header {
    text-align: left;
    padding: 5em 1em;
  }
}
@media (max-width: 375px) {
  body#index .container--flex {
    align-items: flex-start;
  }
}
body#index a {
  font-family: "Lexend", sans-serif;
  text-decoration: underline;
  color: black;
  line-height: 1;
  opacity: 0.7;
}
body#index ul {
  list-style-type: none;
}

body#assignment-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend", sans-serif;
}
body#assignment-1 > div {
  margin-bottom: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  max-width: 60%;
}
body#assignment-1 > div img {
  filter: brightness(0.9);
}
body#assignment-1 > div p {
  opacity: 0.8;
}
body#assignment-1 > div main > div:first-of-type {
  max-height: 400px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 1.5em;
}
body#assignment-1 > div main > div:first-of-type img {
  position: relative;
  bottom: 5vw;
}
@media (max-width: 1400px) {
  body#assignment-1 > div main > div:first-of-type img {
    bottom: 0;
  }
}
body#assignment-1 > div > * {
  margin-bottom: 1.5em;
}
body#assignment-1 > div > section > * {
  margin-bottom: 1.5em;
}
@media (max-width: 1000px) {
  body#assignment-1 > div {
    max-width: 100%;
  }
}
body#assignment-1 .content {
  padding: 0 1em;
}
body#assignment-1 .content a {
  color: black;
}
body#assignment-1 .content a i {
  margin-right: 0.5em;
}
body#assignment-1 .content a span {
  text-decoration: underline;
}
body#assignment-1 .content ul {
  list-style: "🐈";
  margin-left: 1em;
}
body#assignment-1 .content ul li {
  padding: 0.5em;
}
body#assignment-1 .content figure {
  padding: 1em 0;
}
body#assignment-1 .content figure img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
body#assignment-1 .content figure figcaption {
  margin-top: 1em;
  font-style: italic;
  opacity: 0.65;
  text-align: center;
}
body#assignment-1 .content table {
  border: 1px solid black;
  background-color: whitesmoke;
}
body#assignment-1 .content table thead {
  background-color: #bfbfbf;
}
body#assignment-1 .content table td {
  border: 1px solid black;
  padding: 0.5em;
}

html, body {
  scroll-behavior: smooth;
}

body.article {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lexend", sans-serif;
  line-height: 1.75;
  margin: 0;
}
body.article > .grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1.25fr;
  grid-template-areas: "left-pane content right-pane";
  margin-top: 0;
  margin-bottom: auto;
  width: 100%;
}
body.article > .grid-container .content .grid-padding,
body.article > .grid-container .right-pane .grid-padding {
  padding: 3em;
}
body.article > .grid-container .content {
  grid-area: "content";
  display: flex;
  justify-content: center;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  width: 100%;
}
body.article > .grid-container .content section {
  margin: 3.5em 0;
}
body.article > .grid-container .content section > * {
  margin-bottom: 1.25em;
}
body.article > .grid-container .content .section-title a {
  text-decoration: none;
  color: black;
  opacity: 0.3;
  margin-left: 0.25em;
  font-weight: 400;
  transition: all 0.2s ease-out;
}
body.article > .grid-container .content .section-title a:hover {
  opacity: 1;
}
body.article > .grid-container .left-pane {
  grid-area: "left-pane";
  align-self: start;
  position: sticky;
  top: 0;
}
body.article > .grid-container .left-pane ul, body.article > .grid-container .left-pane li {
  margin: 0;
  padding: 0;
}
body.article > .grid-container .left-pane ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
body.article > .grid-container .left-pane ul li {
  margin: 2em;
  font-size: 1.25em;
}
body.article > .grid-container .left-pane ul li i {
  color: black;
  opacity: 0.7;
}
body.article > .grid-container .right-pane {
  grid-area: "right-pane";
  align-self: start;
  position: sticky;
  top: 0;
}
body.article > .grid-container .right-pane aside {
  display: flex;
  flex-direction: column;
}
body.article > .grid-container .right-pane aside > * {
  margin: 0.5em 0;
}
body.article > .grid-container a.external-link {
  color: #3248ed;
  text-decoration: underline;
}
body.article > .grid-container ul.link-list {
  list-style-type: decimal;
  margin: auto;
  padding-left: 1em;
}
@media (max-width: 1200px) {
  body.article > .grid-container {
    grid-template-columns: auto;
    grid-template-areas: "content";
  }
}
@media (max-width: 1200px) {
  body.article > .grid-container .right-pane, body.article > .grid-container .left-pane {
    display: none;
  }
}
body.article .content, body.article .content > .grid-padding {
  overflow: auto;
}
body.article p, body.article pre {
  max-width: 80ch;
}
body.article pre {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
body.article p {
  color: rgba(0, 0, 0, 0.8);
}
body.article pre {
  border-radius: 0.25em;
}
body.article h1, body.article strong {
  font-weight: 700;
}
body.article main, body.article section {
  margin-bottom: 1.5em;
}
body.article h1, body.article h2, body.article h3, body.article h4, body.article h5, body.article h6 {
  line-height: 1;
}
body.article h1 {
  line-height: 1;
}
body.article h1, body.article h2 {
  margin-bottom: 0.5em;
}
body.article h3 {
  text-transform: uppercase;
  font-size: 1em;
  color: #3248ed;
}
body.article ul:not(.link-list) {
  list-style-type: none;
}
body.article .background-image {
  background-image: url("../../media/78745131.jpg");
  width: 100%;
  height: 50em;
  background-position: center;
}

.gradient {
  height: 3em;
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
}

table {
  border: 1px solid black;
  background-color: whitesmoke;
}
table thead {
  background-color: #bfbfbf;
}
table td {
  border: 1px solid black;
  padding: 0.5em;
}

/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript&plugins=line-numbers+normalize-whitespace+toolbar */
code[class*=language-], pre[class*=language-] {
  color: #000;
  background: 0 0;
  text-shadow: 0 1px #fff;
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

code[class*=language-] ::-moz-selection, code[class*=language-]::-moz-selection, pre[class*=language-] ::-moz-selection, pre[class*=language-]::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

code[class*=language-] ::selection, code[class*=language-]::selection, pre[class*=language-] ::selection, pre[class*=language-]::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*=language-], pre[class*=language-] {
    text-shadow: none;
  }
}
pre[class*=language-] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
}

:not(pre) > code[class*=language-], pre[class*=language-] {
  background: #f5f2f0;
}

:not(pre) > code[class*=language-] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.token.cdata, .token.comment, .token.doctype, .token.prolog {
  color: #708090;
}

.token.punctuation {
  color: #999;
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean, .token.constant, .token.deleted, .token.number, .token.property, .token.symbol, .token.tag {
  color: #905;
}

.token.attr-name, .token.builtin, .token.char, .token.inserted, .token.selector, .token.string {
  color: #690;
}

.language-css .token.string, .style .token.string, .token.entity, .token.operator, .token.url {
  color: #9a6e3a;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule, .token.attr-value, .token.keyword {
  color: #07a;
}

.token.class-name, .token.function {
  color: #dd4a68;
}

.token.important, .token.regex, .token.variable {
  color: #e90;
}

.token.bold, .token.important {
  font-weight: 700;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

pre[class*=language-].line-numbers {
  position: relative;
  padding-left: 3.8em;
  counter-reset: linenumber;
}

pre[class*=language-].line-numbers > code {
  position: relative;
  white-space: inherit;
}

.line-numbers .line-numbers-rows {
  position: absolute;
  pointer-events: none;
  top: 0;
  font-size: 100%;
  left: -3.8em;
  width: 3em;
  letter-spacing: -1px;
  border-right: 1px solid #999;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.line-numbers-rows > span {
  display: block;
  counter-increment: linenumber;
}

.line-numbers-rows > span:before {
  content: counter(linenumber);
  color: #999;
  display: block;
  padding-right: 0.8em;
  text-align: right;
}

div.code-toolbar {
  position: relative;
}

div.code-toolbar > .toolbar {
  position: absolute;
  z-index: 10;
  top: 0.3em;
  right: 0.2em;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

div.code-toolbar:hover > .toolbar {
  opacity: 1;
}

div.code-toolbar:focus-within > .toolbar {
  opacity: 1;
}

div.code-toolbar > .toolbar > .toolbar-item {
  display: inline-block;
}

div.code-toolbar > .toolbar > .toolbar-item > a {
  cursor: pointer;
}

div.code-toolbar > .toolbar > .toolbar-item > button {
  background: 0 0;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

div.code-toolbar > .toolbar > .toolbar-item > a, div.code-toolbar > .toolbar > .toolbar-item > button, div.code-toolbar > .toolbar > .toolbar-item > span {
  color: #bbb;
  font-size: 0.8em;
  padding: 0 0.5em;
  background: #f5f2f0;
  background: rgba(224, 224, 224, 0.2);
  box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5em;
}

div.code-toolbar > .toolbar > .toolbar-item > a:focus, div.code-toolbar > .toolbar > .toolbar-item > a:hover, div.code-toolbar > .toolbar > .toolbar-item > button:focus, div.code-toolbar > .toolbar > .toolbar-item > button:hover, div.code-toolbar > .toolbar > .toolbar-item > span:focus, div.code-toolbar > .toolbar > .toolbar-item > span:hover {
  color: inherit;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
