/*
 * Fonts
 */

$font--family-lexend: 'Lexend', sans-serif;

/*
 * Font weights
 */

$font--weight-bold: 700;
$font--weight-medium: 500;

/*
 * Breakpoints
 */

$breakpoint--mobile: 375px;
$breakpoint--tablet: 1000px;
$breakpoint--desktop: 1440px;

/*
 * Shadows
 */

$shadow--1: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

/*
 * Index-specific
 */

$margin--header: 1em;